{% extends 'base.html' %}

{% load thumbnail %}

{% block title %}
  {{ object.name }}
{% endblock title %}
{% block content %}
  <div class="row mb-3">
    <div class="col-12 col-md-3">
      <img src="{{ object.profile_picture | thumbnail_url:'profile' }}"
           class="img-fluid rounded d-block mx-auto"
           alt="{{ object.name }}" />
    </div>
    <div class="col-12 col-md-4">
      <h1>{{ object.name }}</h1>
      <p>{{ object.description }}</p>
      <a href="https://facebook.com/{{ object.facebook_id }}" target="_blank">
        <div class="btn btn-primary">
          <span class="bi-facebook me-2"></span>Facebook page
        </div>
      </a>
    </div>
  </div>
  <ul class="nav nav-tabs">
    <li class="nav-item">
      <a class="nav-link {% if not is_past %}active{% endif %}"
         aria-current="page"
         href="{% url 'events:host_detail' object.id %}?past=false">Upcoming</a>
    </li>
    <li class="nav-item">
      <a class="nav-link {% if is_past %}active{% endif %}"
         href="{% url 'events:host_detail' object.id %}?past=true">Past</a>
    </li>
  </ul>
  {% if not is_past %}
    {% include 'events/event_list_include.html' with events=upcoming %}
  {% else %}
    {% include 'events/event_list_include.html' with events=past %}
  {% endif %}
{% endblock content %}
